<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>userDefaults</key>
        <string>isIndPreOn</string>
        <key>name</key>
        <string>predicateIndPre</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isIndPCOn</string>
        <key>name</key>
        <string>predicateIndPC</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isIndImpOn</string>
        <key>name</key>
        <string>predicateIndImp</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isIndPQPOn</string>
        <key>name</key>
        <string>predicateIndPQP</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isIndPSOn</string>
        <key>name</key>
        <string>predicateIndPS</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isIndPAOn</string>
        <key>name</key>
        <string>predicateIndPA</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isIndFSOn</string>
        <key>name</key>
        <string>predicateIndFS</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isIndFAOn</string>
        <key>name</key>
        <string>predicateIndFA</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isSubPreOn</string>
        <key>name</key>
        <string>predicateSubPre</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isSubPasOn</string>
        <key>name</key>
        <string>predicateSubPas</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isSubImpOn</string>
        <key>name</key>
        <string>predicateSubImp</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isSubPQPOn</string>
        <key>name</key>
        <string>predicateSubPQP</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isConPreOn</string>
        <key>name</key>
        <string>predicateConPre</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isConPas1On</string>
        <key>name</key>
        <string>predicateConPas1</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isConPas2On</string>
        <key>name</key>
        <string>predicateConPas2</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isImpPreOn</string>
        <key>name</key>
        <string>predicateImpPre</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isImpPasOn</string>
        <key>name</key>
        <string>predicateImpPas</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isPartPreOn</string>
        <key>name</key>
        <string>predicatePartPre</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isPartPasOn</string>
        <key>name</key>
        <string>predicatePartPas</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isInfPreOn</string>
        <key>name</key>
        <string>predicateInfPre</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isInfPasOn</string>
        <key>name</key>
        <string>predicateInfPas</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isGerPreOn</string>
        <key>name</key>
        <string>predicateGerPre</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isGerPasOn</string>
        <key>name</key>
        <string>predicateGerPas</string>
        <key>list</key>
        <string>predicateListTense</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isJeOn</string>
        <key>name</key>
        <string>predicateJe</string>
        <key>list</key>
        <string>predicateListPronoun</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isTuOn</string>
        <key>name</key>
        <string>predicateTu</string>
        <key>list</key>
        <string>predicateListPronoun</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isIlOn</string>
        <key>name</key>
        <string>predicateIl</string>
        <key>list</key>
        <string>predicateListPronoun</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isElleOn</string>
        <key>name</key>
        <string>predicateElle</string>
        <key>list</key>
        <string>predicateListPronoun</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isNousOn</string>
        <key>name</key>
        <string>predicateNous</string>
        <key>list</key>
        <string>predicateListPronoun</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isVousOn</string>
        <key>name</key>
        <string>predicateVous</string>
        <key>list</key>
        <string>predicateListPronoun</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isIlsOn</string>
        <key>name</key>
        <string>predicateIls</string>
        <key>list</key>
        <string>predicateListPronoun</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isEllesOn</string>
        <key>name</key>
        <string>predicateElles</string>
        <key>list</key>
        <string>predicateListPronoun</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isGroup1On</string>
        <key>name</key>
        <string>predicateVerbGroup1</string>
        <key>list</key>
        <string>predicateListVerb</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isGroup2On</string>
        <key>name</key>
        <string>predicateVerbGroup2</string>
        <key>list</key>
        <string>predicateListVerb</string>
    </dict>
    <dict>
        <key>userDefaults</key>
        <string>isGroup3On</string>
        <key>name</key>
        <string>predicateVerbGroup1</string>
        <key>list</key>
        <string>predicateListVerb</string>
    </dict>
</array>
</plist>
