<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>predicateIndPre</string>
		<key>sub1</key>
		<string>predicateInd</string>
		<key>sub2</key>
		<string>predicatePre</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateIndPC</string>
        <key>sub1</key>
        <string>predicateInd</string>
        <key>sub2</key>
        <string>predicatePC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateIndImp</string>
        <key>sub1</key>
        <string>predicateInd</string>
        <key>sub2</key>
        <string>predicateImp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateIndPQP</string>
        <key>sub1</key>
        <string>predicateInd</string>
        <key>sub2</key>
        <string>predicatePQP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateIndPS</string>
        <key>sub1</key>
        <string>predicateInd</string>
        <key>sub2</key>
        <string>predicatePS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateIndPA</string>
        <key>sub1</key>
        <string>predicateInd</string>
        <key>sub2</key>
        <string>predicatePA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateIndFS</string>
        <key>sub1</key>
        <string>predicateInd</string>
        <key>sub2</key>
        <string>predicateFS</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateIndFA</string>
        <key>sub1</key>
        <string>predicateInd</string>
        <key>sub2</key>
        <string>predicateFA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateSubPre</string>
        <key>sub1</key>
        <string>predicateSub</string>
        <key>sub2</key>
        <string>predicatePre</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateSubPas</string>
        <key>sub1</key>
        <string>predicateSub</string>
        <key>sub2</key>
        <string>predicatePas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateSubImp</string>
        <key>sub1</key>
        <string>predicateSub</string>
        <key>sub2</key>
        <string>predicateImp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateSubPQP</string>
        <key>sub1</key>
        <string>predicateSub</string>
        <key>sub2</key>
        <string>predicatePQP</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateConPre</string>
        <key>sub1</key>
        <string>predicateCon</string>
        <key>sub2</key>
        <string>predicatePre</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateConPas1</string>
        <key>sub1</key>
        <string>predicateCon</string>
        <key>sub2</key>
        <string>predicatePas1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateConPas2</string>
        <key>sub1</key>
        <string>predicateCon</string>
        <key>sub2</key>
        <string>predicatePas2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateImpPre</string>
        <key>sub1</key>
        <string>predicateImp</string>
        <key>sub2</key>
        <string>predicatePre</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateImpPas</string>
        <key>sub1</key>
        <string>predicateImp</string>
        <key>sub2</key>
        <string>predicatePas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicatePartPre</string>
        <key>sub1</key>
        <string>predicatePart</string>
        <key>sub2</key>
        <string>predicatePre</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicatePartPas</string>
        <key>sub1</key>
        <string>predicatePart</string>
        <key>sub2</key>
        <string>predicatePas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateInfPre</string>
        <key>sub1</key>
        <string>predicateInf</string>
        <key>sub2</key>
        <string>predicatePre</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateInfPas</string>
        <key>sub1</key>
        <string>predicateInf</string>
        <key>sub2</key>
        <string>predicatePas</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateGerPre</string>
        <key>sub1</key>
        <string>predicateGer</string>
        <key>sub2</key>
        <string>predicatePre</string>
	</dict>
	<dict>
		<key>name</key>
		<string>predicateGerPas</string>
        <key>sub1</key>
        <string>predicateGer</string>
        <key>sub2</key>
        <string>predicatePas</string>
	</dict>
</array>
</plist>
